body {
    background-color: lavender;
    font-family: monospace;
    width: 75%;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: skyblue;
    text-align: right;
}

img {
    grid-column: 1fr;
    width: 100%;
}

header h1 {
    grid-column: 1fr;
    padding-top: 10px;
    padding-right: 100px; 
}

#default-info, 
#display-info {
    margin-left: 40px;
}



li {
    list-style-type: "🖍 ";
}

footer {
    background-color: skyblue;
    text-align: center;
}


.error {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}