body {
    background-color: lavender;
    font-family: monospace;
}

header {
    background-color: skyblue;
    text-align: right;
    width: 75%;
    margin: auto;
}

header h1 {
    padding-top: 20px;
    padding-right: 100px
}

img {
    width: 50%;
    display: flex;
}

.error {
    background-color: red;
    color: white;
}

.hidden {
    display: none;
}